@font-face{font-family: font1; src: url(/font/fonte.woff2);}

*{
    outline: none;
}

body{
    background-color: rgb(65, 65, 65);
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0;
    padding: 0;

}

.col-1{
    background-color: rgb(213, 213, 213);
    width: 300px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border: transparent 0px solid;
    border-radius: 7px;
    position: relative;
    padding: 0;
    top: 31vh;
    box-shadow: black 0px 0px 10px;
}

.cent{
    text-align: center;
    position: relative;
}

#f{
    margin-top: 10px;
}

.inps-f{
    margin-top: 20px;
}

.p{
    min-width: 100%;
    width: 100%;
    height: 40px;
    top: -1.7px;
    margin: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: relative;
    background-color: #629aa9;
    color: #ffffff;
    font-family: font1;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.p p{
    top: 10px;
    position: relative;
}

.btn-s{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: #629aa9 2px solid;
    border-radius: 15px;
    background-color: #629aa9;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding: 5px;
    bottom: 0px;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 7px;
}



#v1, #v2, #v3{
    width: 80px;
    height: 25px;
    position: relative;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: #242424;
}

#v3{
    width: 100px;
    height: 20px;
}

.item{
    position: absolute;
    display: block;
    margin-top: -140px;
}

.item label{
    display: block;
    padding: 1px;
    position: relative;
      -webkit-transform: translate(0px, 0);
  transform: translate(-20px, 0);
}

.btn-s:hover{
    filter: saturate(5)

}

.item ul li {
    display: block;
    padding-top: 5px;
    padding-bottom: 1px;


}

.item ul{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s linear;

}

.item input:checked ~ ul{
    height: auto;
    max-height: 240px;
    transform: all;
    background-color: transparent;
}

.item input{
    display: none;
}

.out{
    padding: 5px;
}

.out input{
    display: none;
}

ul li{
    overflow: hidden;
}

.ajust1{
      /* This trasform moves the drawer off canvas. */
  transform: translate(-39px);
  position: relative;
}

.ajust2{
    position: relative;
    float: right;
    top: -159px;
    left: 7px;
}
#last{
    color: rgb(114, 114, 114);
    font-family: monospace;
    position: relative;
    text-align: center;
    top: 265px;
}